<div class="container">
    <div class="header">
        <app-user-header ></app-user-header >
    </div>
    
    <div class="main" >
        
    
        <button  class="dashboardBtn"  routerLink="dashboard">Dashboard <i class="pi pi-home"></i></button>
        <button  class="dashboardBtn" routerLink="myTicket">My Ticket <i class="pi pi-book"></i></button>
        <button  class="dashboardBtn" routerLink="createTicket">Create <i class="pi pi-ticket"></i></button>
    
    </div>
    <div class="router" >
        <router-outlet ></router-outlet >
        
    </div>
   <div class="footer">
    <app-user-footer/>
   </div>
   
</div>








<!--

<div class="commentView" *ngIf="commentDisplay">
    <div class="commentDetails">
        
        <p>{{viewIssueDetails.statusId}}</p>
        
        <div>
            <section> 
                <p>TicketId : {{viewIssueDetails.ticketId}}</p> 
                <p>priorityId : {{viewIssueDetails.priorityId}}</p>
            </section>
            <section> 
                <p>categoryId : {{viewIssueDetails.categoryId}}</p>
                <p>subCategoryId : {{viewIssueDetails.subCategoryId}}</p>
            </section>
        
            <section>
                <p>assigneeId : {{viewIssueDetails.assigneeId}}</p>
                <p>ReportedId : {{viewIssueDetails.reportedId}}</p>
            </section>
            <section>
                <p>createDateTime : {{viewIssueDetails.createDateTime}}</p>
                <p>lastModifiedDateTime :{{viewIssueDetails.lastModifiedDateTime}}</p> 
            </section>
        </div>
       
        <section>
            <p>Subject : {{viewIssueDetails.subject}}</p>
        </section>


        <section class="description">
            <p>Description : {{viewIssueDetails.description}}</p>
        </section>
        <div class="messageCard">
            <p-editor [(ngModel)]="text"  /> -->
        <!-- </div>
        <div class="card flex justify-center" class="btns">
            <p-button label="Submit" icon="pi pi-check"  (onClick)="onSaveComment(viewIssueDetails)"/> <p-button label="Cancel" icon="pi pi-times" (onClick)="commentViewCancel()"/>
        </div>



    </div>

</div> --> 