
@import "primeicons/primeicons.css";

.container{
   
    width: 100%;
    height: 100%;
    position: relative;
    left:0%;
    top: 0%;
    display: grid;
    grid-template-columns: 20% 80%;
    
}
.logo {
    width: 100%;
    height: 60px;
}

.logo img{
    width: 100px;
    height: 60px;
    
    
}
.innerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
}
.nameTag{
    width: 150px;
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid red;
}
.userName>div:first-child>p{
    font-size: 18px;

}
.userName>div:last-child>p{
    font-size: 14px;
    color: red;

}
::ng-deep.p-button{
 border: none;
}


.profile{
    width: 50px;
    height: 100%;
   
}


  
  ::ng-deep.p-drawer button {
    margin: 18px;
    width: 70%;
    background-color: red;
  }
  ::ng-deep.p-button {
    background-color: blue !important;
    border: none;
  }

  .items>div{
    width: 100%;
    padding: 5%;
    
  }

  .items>div>span{
    margin-left: 3%;
  }
  
  .font-bold {
    font-size: 20px;
    margin-left: 10px;
  }


  .mobileView{
    display: block !important;
}
.mobileViewOn{
    display: none !important;
}
.items{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 20%;
}
.items>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuSetting{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
   
   
  }
  .menu{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .menu p{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgb(151, 150, 150);
    padding: 5px;
  }
  .logMenu{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
/* notification */
.notification{
  width: 300px;
  height: auto;
  overflow-y: auto;
  padding: 5px;
}

.notificationDetails{
  width: 95%;
  margin-left: 2.5%;
  display: grid;
  grid-template-columns: 20% 70%;
 
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgb(211, 208, 208);

}
.notificationDetails div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
.names>div:last-child>p ,.names>div:nth-child(2)>p{
  font-size: 12px;
}
.clearBtn{
  display: flex;
justify-content: center;
align-items: center;
}

/* password window */

.passwordContainer{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
  gap: 20px;
  
  }
  .passwordResetButton{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    
  }
  .passwordContainer ::ng-deep.p-inputtext {
    width: 100% !important;
  }
  .passwordContainer
  .passwordResetButton ::ng-deep.p-button{
    width: 100%;
    height: 30px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .passwordResetButton ::ng-deep.p-button .p-button-icon {
    font-size: 10px;
  }
  
  ::ng-deep .p-button-text.p-button-secondary {
    background-color: aliceblue !important;
    color: black !important;
  }
  



  @media only screen and (max-width: 426px) {
    .logo img{
        width: 50px;
        height: 50px;
        
        
    }
    .profile{
        width: 50%;
        height: 100%;
       
    }
    .mobileView{
        display: none !important;
    }
    .mobileViewOn{
        display: block !important;
    }

    ::ng-deep.p-drawer-left {
        top: 0;
        left: 0;
        width: 16rem !important;
        height: 100%;
    }
 
    
  }
  @media only screen and (max-width: 376px) {

    ::ng-deep.p-drawer-left {
        top: 0;
        left: 0;
        width: 14rem !important;
        height: 100%;
    }
  }