<div class="container">

    <div class="logo">
        <img src="app/Images/logo2.png" alt="">
    </div>
   <div class="innerContainer">

        <div hidden>
            <i class="pi pi-sun" style="font-size: 1.3rem"></i>
        
        </div>
        <div>
            <i class="pi pi-moon" style="font-size: 1.3rem"></i>
        </div>

        <div class="notification">
            <p-button label="Emails" badge="2" label="Notifications" icon="pi pi-bell" />
        </div>

        
        <div class="nameTag">
            <div>
                <p-avatar icon="pi pi-user" class="mr-2"  shape="circle" label={{loggedUser?.userName?.slice(0,1)}}/>
            </div>
           <div class="userName">
                <div><p>{{loggedUser?.userName}}</p></div>
                <div><p>Admin</p></div>
           </div>
        </div>

        <div>
            <i class="pi pi-spin pi-cog" style="font-size: 1.3rem" label="Toggle" (click)="menu.toggle($event)" ></i>
            <p-tieredmenu #menu [model]="items" [popup]="true" />

        </div>

    </div>
    
</div>


