

.path{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 12px;
    padding-left: 1%;


}
.path span{
    color: red;
}




.container{
    width: 100%;
    height: 93%;   
    margin-top: 0.5%;

}




/* Table */

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: center;
            font-size: 1rem;
        }

         .p-paginator {
            padding: 1rem;
        } 

        .p-datatable-thead > tr > th {
            text-align: center;
        }

        .p-datatable-tbody > tr > td {
            cursor: auto;
            

        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    .p-w-100 {
        width: 100%;
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
   
}
.editBtn,.deleteBtn{
    width: 50%;
    height: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);

                    > td {
                        text-align: left;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border: 0 none;

                        .p-column-title {
                            min-width: 30%;
                            display: inline-block;
                            font-weight: bold;
                        }

                        p-progressbar {
                            width: 100%;
                        }

                        &:last-child {
                            border-bottom: 1px solid var(--surface-d);
                        }
                    }
                }
            }
        }
    }
}

.p-tabpanels {
    background: rgba(255, 255, 255,0) !important;

}
:host ::ng-deep .p-tablist-tab-list {
    width: 100%;
    height: 25px;
    font-size: 10px;
    display: flex;
    justify-items: flex-end;
    gap: 10px;
  
}

.tablist{
    width: 100%;
    height: 20px !important;
    font-size: 10px !important;
    border: none !important;
}
.p-tab{
    height: 20px !important;
    padding: 0;
    border: none !important;
    margin-left: 10px;
}

.p-tab-active {
    font-size: 16px !important;
    
}
.noIssue{
    text-align: center;
}
.p-tabpanel{
    width: 100%;
    height: 100% ;
   background-color: red !important;
}
.tableContainer{
    width: 100%;
    height: 100% ;
   
    
}
:host ::ng-deep.p-datatable-header {
    
    background-color: rgba(255, 255, 255, 0.1) !important;
   
}

:host ::ng-deep th{
    width: 100px;
    border: none;   
}

th{
    font-size: 12px;
    padding: 0 !important;
    text-align: center;
}



 

::ng-deep.p-datatable-thead > tr > th {
    height: 10px !important;
    padding: 5px !important;  
}
::ng-deep.p-datatable-thead > tr > td {
    height: 10px !important;
    padding: 0 !important;
}

th div{

    width: auto !important;
    font-size: 14px;
    text-align: center;
    
}

.p-selectable-row{
    height: 20px;

}


td {
    font-size: 13px;
    border: none !important;
    white-space: nowrap;       
    overflow:hidden;          
    text-overflow: ellipsis;    
    max-width: 150px;     
   
  }
  td p{
    text-align: center;
  }

  ::ng-deep.p-paginator {
    padding:0 !important;
} 





.kanbanContainer {
    width: 100%;
    height: 69vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;  
    flex-wrap: wrap;  
}
.kanbanColumn {
    width: 19%; 
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    overflow-y: scroll;
    margin-bottom: 15px;
}




.kanbanColumn::-webkit-scrollbar {
    display: none;
}

.kanbanColumn h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;

}
.statusName{
    position: sticky;
    top: 0%;
    z-index: 1;

}

.kanbanCard {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.kanbanCard h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.CRITICAL{
    background-color: red !important;
    color: rgb(255, 255, 255) !important;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:normal;
}

.HIGH{
    background-color: blue !important;
    color: rgb(255, 255, 255) !important;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:normal;
}

.MEDIUM{
   background-color: yellow !important;
   color: rgb(0, 0, 0) !important;
   padding: 3px 10px 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:normal;
}

.LOW{
    background-color: green!important;
    color: rgb(255, 255, 255) !important;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:normal;
}

 
.OPEN{
    color: blue;
   text-shadow: 0px 0px 5px rgb(64, 63, 63);
}

.INPROGRESS{
    /* color: yellow;
   text-shadow: 0px 0px 5px rgb(64, 63, 63); */
    color: blue;
   text-shadow: 0px 0px 5px rgb(64, 63, 63);
}
.WAITING{
    /* color: orange;
   text-shadow: 0px 0px 5px rgb(129, 126, 125); */
    color: blue;
   text-shadow: 0px 0px 5px rgb(64, 63, 63);
}

.FIXED{
    /* color: green;
    text-shadow: 0px 0px 5px rgb(64, 63, 63); */
     color: blue;
   text-shadow: 0px 0px 5px rgb(64, 63, 63);
}

.CLOSED{
    /* color: purple;
   text-shadow: 0px 0px 5px rgb(64, 63, 63); */
    color: blue;
   text-shadow: 0px 0px 5px rgb(64, 63, 63);
} 


.loadButton{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.loadButton button{
    width: 40%;
    height: 30px;
    border-radius: 10px;
    padding: 0 !important;
  
}
.loadButton button > i{
    font-size: 12px;
}

.kanbanCard p {
    margin: 5px 0;
}

.p-overlay-badge{
    width: 24px;
    height: 24px;
    background-color: black;
    color: yellow;
    font-size: 22px;
}

.kanbanCard span{
    color: rgb(254, 0, 0);
    font-weight: bold;
}


/* list */
.search{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10px;
}
.search input{
    height: 25px !important;
    font-size: 14px !important;

}

::ng-deep.p-datatable-header {
    padding: 5px !important;
   
}

.search .p-iconField {
    padding: 5px !important;
    
}
.filterCancel{
    width: 12px !important;
    height: 12px; 
    text-align :center;
    
   
}
.filterCancel i{
    font-size: 10px !important;
    margin-top: 4px;
}
.filterCancel ::ng-deep.p-button{
    width: 25px !important;
    height: 25px !important;
}
.filterButton {
    width: 100%;
    height: 100%;
}
.p-select{
    width: 100%;
}

.filterApplyReset{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.filterApplyReset ::ng-deep.p-button{
    height: 70% !important;
}
::ng-deep .p-popover-content>form {  
   display: flex;
   flex-direction: column;
   gap: 10px;
}




.commentMain{
    border-top: 1px solid rgb(129, 147, 238) ;
    display: flex;
    padding: 2%;
   
}
.commentMain i{
    width: 15%;
    height: 60%;
    border: none;
    position: relative;
    left: 75%;
    margin-top: 1%;
    text-align: center;
    font-size: 12px;
    
   
}

.commentbtn{
    width: 100% !important;
}
  
/* comment window */
 .commentView{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 60px;
    z-index: 10;
    
}
.commentDetails{
    width: 90%;
    height: 90%;
    background-color:white;
   border-radius: 10px;
    position: absolute;
    top:5%;
    left: 5%;
    color: black;
}
.nav{
    width: 100%;
    height: 6%;
    border : none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #D8DADC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav i{
    font-size: 24px;
    color: black;
    margin-right: 10px;
   
}
.detailsContainer{
    width: 100%;
    height: 94%;
    display: grid;
    grid-template-columns: 70% 30%;
}
.detailsContainerRight{
    width: 97%;
    height: 97%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: auto;
    margin-top:2.2%;
}
.detailsContainerRight::-webkit-scrollbar {
    display: none;
}
.detailsContainerLeft{
    width: 98%;
    height: 97%;
    display: grid;
    grid-template-rows: 40% 60%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
}
.ticketHeader{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid skyblue;
}
.ticketHeader>div:first-child{
    width: 100%;
    height: 20%;
}
.ticketdetails{
    width: 100%;
    height: 80%;
}

.ticketHeader p span{
    color:rgb(0, 0, 254);
    margin-left: 5px;
}
.ticketHeader p{
    font-size: 20px;
}
.ticketHeader i{
    color: red;
}
.description{
    width: 100%;
    height: 80%;
    border-top: 1px solid rgb(122, 189, 223);
}
.description>p{
    white-space: normal;  
  word-wrap: break-word;  
  overflow-wrap: break-word;  
  word-break: break-all;  
  max-width: 100%;  
  

}
.ticketdetails>div:first-child{
    margin-top: 10px;
    width: 100%;
    height: 25%;
}
.ticketdetails p{
    font-size: 16px;

}
.comment{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.messageCard{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 7% 93%;
  
}
::ng-deep.p-editor .p-editor-content .ql-editor {
    height: 110px !important;
    border: 1px solid black;

}

.commentPost{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.commentPost>div{
    width: 80px;
    height: 80%;
    background-color: rgb(185, 185, 187);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    
}
.commentPost>div span{
    margin-left: 5px ;
    font-size: 16px;
}
.commentPost>div i{
    font-size: 14px;
    margin-left: 10px;
}
.messageCard>div:first-child{
    width: 100%;
    height: 100%;
   

}
.messageCard>div:first-child>.p-avatar{
    font-size: 32px;
   margin-left: 10px;
   margin-top: 30px;
    
}

.message {
    width: 100%;
    height:150px;
    margin-top: 10px;
}



.detailsCard{
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    
}
.detailsCard>div {
    display: flex;
    flex-direction: column;
}
.detailsCard>div>section{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.detailsCard>div>section>p{
    padding: 1.5%;
}
.ImageContainer{
    width: 100% !important;
    height: 100% !important;
 
    display: grid;
    grid-template-rows: 80% 20%;
}
.image{
    width: 180px;
    height: 100px;
    
}
::ng-deep .image img{
    width: 50% !important;
    height: 90% !important;
    
}
.commentHead{
    width: 100%;
    height: 8%;
}
.viewCommentHead{
    width: 100%;
    height: 5%;
    background-color: rgb(243, 238, 238);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.viewCommentHead>p{
    font-size: 18px;
}
.scrollComment{
    width: 100%;
    height: 90%;
    overflow: auto;
}

.scrollComment::-webkit-scrollbar {
    display: none;
}
.singleComment{
    width: 94%;
    box-shadow: 0 0 1px 1px rgb(221, 219, 219);
    margin: 3%;
    border-radius: 5px;
    
}
.showComment{
    width: 100%;
    height: 100%;

}
.showComment .head{
    
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 2px;
    border-bottom: 1px solid rgb(210, 203, 203);
}

.showComment .head>div:first-child{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.showComment .head>div:first-child>.p-avatar{
   font-size: 24px;
   background-color: rgba(25, 5, 249,1);
   
}
.showComment .head>div:nth-child(2){
    width: 100%;
    display: flex;
    
}

.showComment .head>div:nth-child(2)>p:first-child{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.showComment .head>div:nth-child(2)>p:last-child{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.scrollMessage{
    width: 96%;
   padding: 2%;
   white-space: normal;  
    word-wrap: break-word;  
    overflow-wrap: break-word;  
    word-break: break-all;  
    max-width: 100%; 
} 



 /* Edit Form */

 .editFormBackground{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 60px;
    z-index: 100;
}

.editForm{
    width: 50%;
    height: 90%;
    
    margin: auto;
    border-radius: 10px;
    padding-bottom: 30px;
    position: absolute;
    top: 20px;
    left: 25%;
    z-index: 200;
    overflow: hidden;
}
.editForm>p{
    width: 100%;
    
    padding: 10px;
    text-align: center;
    font-size: 20px;
   
    
}
.editForm>p>i{
    margin-left: 80%;
}
.detailsMain{
    width: 100%;
    height: 50%;
   border: none;
}
.detailsMain>section{
    width: 95%;
    height: 12%;
    display: flex;
    margin: auto;
    margin-top: 1.5%;
    gap: 1.5%;

    
}
.detailsMain>section>p{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
    font-size: 14px;
   
}
.statusClosed>p{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
}
.descriptionEdit{
    width: 95%;
    height: 30% !important;
    overflow: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
}
.descriptionEdit>p{
    width: 100%;
    height: 100%;
    padding: 10px;
   
}

 .statusMain{
    width: 100%;
    height: 8%;
    display: flex;
   justify-content:center;
   align-items: center;
   margin-top: -10px;

}
.statusMain div{
    width: 100%;
    height: 100%;
    display: flex;
   justify-content:center;
   align-items: center;
}
.statusMain p{
    width: 80%;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
}
.editMessageCard{
    width: 95%;
    height: 28%;
    margin: auto;
    padding: 10px;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;

} 
.btns{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





@media only screen and (max-width: 769px) {
    .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: auto;
    }
    .kanbanContainer {
        flex-direction: column; 
        height: auto;
    }

    .kanbanColumn {
        width: 100%; 
        padding: 5px;
    }

    .kanbanColumn h3 {
        font-size: 14px;  
        margin-bottom: 10px;
    }

    .kanbanCard {
        width: 200px;
        flex-shrink: 0; 
        padding: 8px; 
        margin: 10px; 
    }

    .kanbanCard p {
        font-size: 12px; 
    }

  
    .noIssue p {
        font-size: 14px;
    }


/* comment view */

.commentDetails{
    width: 96%;
    height: 96%;
    background-color:white;
   border-radius: 10px;
    position: absolute;
    top:2%;
    left: 2%;
    color: black;
}
.detailsContainer{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    
  
}
.detailsContainerLeft{
    width: 98%;
    height: 60%;
    display: grid;
    grid-template-rows: 40% 60%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
}
.detailsContainerRight{
    width: 98%;
    height: 30%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top:1%;
}
.viewCommentHead{
    width: 100%;
    height: 12%;
    background-color: rgb(243, 238, 238);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.viewCommentHead>p{
    font-size: 18px;
    font-weight:bold ;
}
.detailsCard p{
    font-size: 13px;
}
.ticketdetails p{
    font-size: 14px;
}

::ng-deep.p-editor .p-editor-content .ql-editor {
    height: 70px !important;
    
    
}

.messageCard{
    width: 100%;
    height: 25%;
}

.commentPost>div{
    width: 10%;
    height: 100%;
    background-color: blue;
    color: white;
    z-index: 1;
    margin-top: 125px;
}
.ImageContainer button{
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}

.image{
    width: 180px;
    height: 70px;
    
}


}

@media only screen and (max-width: 480px) {
    .kanbanColumn {
        width: 100%;  
        padding: 3px;
    }

    .kanbanColumn h3 {
        font-size: 12px;  
        margin-bottom: 8px;
    }

    .kanbanCard {
        flex-shrink: 0; 
        padding: 6px;  
    }

    .kanbanCard p {
        font-size: 11px;  
    }

   
    .p-overlay-badge {
        width: 20px;
        height: 20px;
        font-size: 18px;
    }


    /* comment view */

    .ticketHeader p{
        font-size: 16px;
    }

.commentDetails{
    width: 96%;
    height: 96%;
    background-color:white;
   border-radius: 10px;
    position: absolute;
    top:2%;
    left: 2%;
    color: black;
}
.detailsContainer{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    
  
}
.detailsContainerLeft{
    width: 98%;
    height: 65%;
    display: grid;
    grid-template-rows: 40% 60%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
    overflow: auto;
    
}
.detailsContainerRight{
    width: 98%;
    height: 30%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top:1%;
}
.viewCommentHead{
    width: 100%;
    height: 12%;
    background-color: rgb(243, 238, 238);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.viewCommentHead>p{
    font-size: 18px;
    font-weight:bold ;
}
.detailsCard{
    width: 100%;
    height: 50%;
   display: flex !important;
   flex-direction: column !important;
  
    
}
.detailsCard p{
    font-size: 13px;
}
.ticketdetails p{
    font-size: 14px;
}
.messageCard{
    width: 100%;
    height: 50%;
}
.message{
    position: relative;
    top: 0;
    left: 0;
}

::ng-deep.p-editor .p-editor-content .ql-editor {
    height: 80px !important;
    width: 280px !important;
    margin-left: 0px !important;
    
    
    
}
/* .p-editor .p-editor-toolbar {
    display: none;
} */
.messageCard{
    width: 100%;
    height: 25%;
    display: block;
}
.messageCard>div:first-child{
    display: none;
}

.commentPost>div{
    width: 30%;
    height: 75%;
    background-color: blue;
    color: white;
    z-index: 1;
    margin-top: 210px;
}
.commentPost{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
    
}
.ImageContainer button{
    width: 80px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
}
.commentHead{
    width: 100%;
    height: 8%;
    margin-top: 150px;
}


}



/*  comment view responsive */
@media only screen and (max-width: 1440px) {
    .editForm{
        width: 90%;
        height: 90%;
        background-color: white;
        color: black;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 30px;
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 200;
        overflow: hidden;
    }
    .editForm>p>i{
        margin-left: 86%;
    }


}


@media only screen and (max-width: 1024px) {
    .editForm{
        width: 80%;
        height: 90%;
        background-color: white;
        color: black;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 30px;
        position: absolute;
        top: 20px;
        left: 10%;
        z-index: 200;
        overflow: hidden;
    }
    .editForm>p>i{
        margin-left: 81%;
    }
}

@media only screen and (max-width: 769px) {
    .editForm{
        width: 90%;
        height: 90%;
        background-color: white;
        color: black;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 30px;
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 200;
        overflow: hidden;
    }
    .editForm>p>i{
        margin-left: 78%;
    }
    .detailsMain>section>p{
        width: 100%;
        height: 100%;
        padding: 10px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
        font-size: 13px;
    }
}

@media only screen and (max-width: 426px) {
    .editForm{
        width: 90%;
        height: auto;
        background-color: white;
        color: black;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 10px;
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 200;
        overflow: hidden;
    }
    .editForm>p{
        width: 100%;
     
        padding: 10px;
       
     
        font-size: 20px;
        
    }
    .editForm>p>i{
        margin-left: 60%;
    }
    .detailsMain{
        width: 100%;
        height: auto;
       border: none;
    }
    .detailsMain>section{
        width: 95%;
        height: 12%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 2%;
        
        
    }
    .descriptionEdit{
        width: 95%;
        height: 30% !important;
        overflow: auto;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
    }
    .descriptionEdit>p{
        width: 100%;
        height: 100%;
        padding: 10px;
       
    }
    .statusMain{
        width: 95%;
        height: 10%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 3%;
    
       
    }
    .statusMain>div{
        margin-top: 3%;
    }
    .statusMain>div .p-select{
        width: 97%;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
        
       
    }
    .editMessageCard{
        width: 100%;
        height: 28%;
        margin: auto;
        padding: 10px;
        border: none;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
        overflow: auto;
        margin-top: 10px;
    
    } 
    
    ::ng-deep.p-editor .p-editor-content .ql-editor {
        height: 80px !important;
        width: 362px !important;
        margin-left: 0px !important;
    }
    .btns{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 16px;
    }

}



@media only screen and (max-width: 376px) {
    ::ng-deep.p-editor .p-editor-content .ql-editor {
        height: 50px !important;
        width: 316px !important;
        margin-left: 0px !important;
    }
    .detailsMain>section>p{
        width: 100%;
        height: 100%;
        padding: 10px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); 
        font-size: 12px;
       
    }

}
@media only screen and (max-width: 321px) {
    ::ng-deep.p-editor .p-editor-content .ql-editor {
        height: 50px !important;
        width: 267px !important;
        margin-left: 0px !important;
    }
    .editForm>p>i{
        margin-left: 52%;
    }

}