<div class="container">
    <div class="header">
        <app-admin-header  ></app-admin-header >
    </div>
    
    <div class="main" >
        
    
        <button  class="dashboardBtn" routerLink="dashboard"  routerLinkActive="active-link"><i class="pi pi-home"></i>Dashboard </button>
        <button  class="dashboardBtn" routerLink="issue"  routerLinkActive="active-link"><i class="pi pi-ticket"></i>Issue </button>
        <button  class="dashboardBtn" routerLink="userList"   routerLinkActive="active-link"> <i class="pi pi-users"></i>Users </button>

        
    </div>
    <div class="router" >
        <router-outlet ></router-outlet >
        
    </div>


   <div class="footer">
    <app-admin-footer ></app-admin-footer>
   </div>
   
</div>