<div class="container">
    <app-admin-header></app-admin-header>
    <div class="main" >
    
        <a routerLink="dashboard"><button  class="dashboardBtn" >Dashboard</button></a>
        <a routerLink="issue"><button  class="dashboardBtn" >Issue</button></a>
        <a routerLink="userList"><button  class="dashboardBtn" >Users</button></a>
    
        
    </div>
    <div class="router" >
        <router-outlet></router-outlet>
        
    </div>

    <app-admin-footer hidden></app-admin-footer>
</div>