<div class="container">
    <div class="header">
        <app-admin-header ></app-admin-header >
    </div>
    
    <div class="main" >
        
    
        <button  class="dashboardBtn"  routerLink="dashboard">Dashboard <i class="pi pi-home"></i></button>
        <button  class="dashboardBtn" routerLink="issue">Issue <i class="pi pi-ticket"></i></button>
        <button  class="dashboardBtn" routerLink="userList" >Users <i class="pi pi-users"></i></button>

        
    </div>
    <div class="router" >
        <router-outlet ></router-outlet >
        
    </div>
   <div class="footer">
    <app-admin-footer ></app-admin-footer>
   </div>
   
</div>