

@import "primeicons/primeicons.css";

.path{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 12px;
    padding-left: 1%;

}
.path span{
    color: red;
}

.mainContainer{
    width: 100%;
    height: 95%;
    display: flex;

}

.mainDetails{
    width: 100%;
    height: 98%;
    position: relative;
    left: 0;
    top: 0;
    transition: width 0.5s ease-in-out;
    border-radius: 10px;
   border: none !important;

}


.filterMain{
    width: 18%;
    height: 98%;
    margin-left: 1%;
    border-radius: 10px;
    border: 1px solid #007bff;
    
}

.mainDetails.closed {
    width: 80%; 
  }
 


.navBar{
    width: 100%;
    height: 6%;
    display: flex;

}
.navBar>div:first-child{
  
    width: 75%; 
    height: 100%;
    display: flex; 
    justify-content:flex-start;
    align-items: center;
  
}
.navBar>div:first-child>h2{
   position: relative;
   top: 7px;
   left: 20px;
 
}
.navBar>div:last-child{ 
    width: 25%;
    height: 100%; 
    display: flex; 
    justify-content:flex-end;
    align-items: center;
    gap: 10px;
   
    border: none;

}
.navBar ::ng-deep.p-button{
    width: 80px ;
    height: 24px;
    border: none;
 
}

.tableContainer{
    width: 100%;
    height: 90% ;
    margin-top: 0.5%; 

}


::ng-deep th{
    width: 100px !important;
    height: 40px !important;
}


::ng-deep.p-datatable-thead > tr > th {
 
    height: 10px !important;
    padding: 5px !important; 

   

}
::ng-deep.p-datatable-thead > tr > td {
    height: 10px !important;
    padding: 0 !important;
}

th div{
    width: auto !important;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 14px;
    min-width: 165px; 
    padding: 0 !important;

    
}


.p-selectable-row{
    height: 20px;

}


td {
    font-size: 13px;
    border: none !important;
    white-space: nowrap;       
    overflow:hidden;          
    text-overflow: ellipsis;  
    max-width: 150px;  
 
   
  }
  td p{
    text-align: center;
  }

:host ::ng-deep.p-paginator {
    padding:0 !important;
} 



/* Popup window */
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 60px;
    
}
.formCreate{
  
    width: 80%;
    height: 94%;
    margin: auto;
    border-radius: 10px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    left: 10%;
    padding: 1%;
    
}
.containerDetails{
    width: 94%;
    height: 98%;
    border-radius: 10px;
    overflow-y: auto;
    position: absolute;
    top: 1%;
    left: 3%;
   
    

    
}
.userHeading{
    width: 100%;
    height: 4%;
    border: none;
    display: grid;
    grid-template-columns: 90% 10%;
}
.userHeading1{
    width: 100%;
   
    font-size: 20px;
}
.userHeading2>i{
    margin-left: 80%;
    font-size: 20px;
    
}

.containerDetails>div:nth-child(2){
    width: 100%;
    height: 54%;
    border-radius: 10px;
    border: 1px solid #007bff;
}
.containerDetails>div:nth-child(3) {
    width: 100%;
    height: 34%;
    border: 1px solid #007bff;
    margin-top: 10px;
    border-radius: 10px;
    
}
.containerDetails>div:nth-child(3) section, 
.containerDetails>div:nth-child(2)>section{
    background-color: rgb(115, 148, 216);
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #007bff;
    font-size: 16px;
   padding-left: 10px;
   padding-top: 3px;
   border-top-right-radius :10px;
   border-top-left-radius :10px;
   
    
}



.formContainer{
    display: flex !important;
    width: 100% !important;
    height: 80% !important;
    padding-top: 10px;

}
.formContainer1{
    border: none !important;
    width: 50% !important ;
    height: 80% !important;
    
}
.formContainer2{
    border: none !important;
    width: 50% !important;
    height: 80% !important;
}
.formContainer1 .p-floatlabel>input,
.checkBox {
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: 10%;
        width: 80% ;
        height: 10% !important ;
}
.formContainer1 .p-floatlabel>label{
    width:20% ;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.formContainer2 .p-floatlabel>input{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10%;
    width: 80% ;
    height: 8% !important ;
}
.formContainer2 .p-floatlabel>label{
    width: 30%;
    margin-left: 10%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.address{
    width: 100%;
    height: 80%;
    display: flex;
}
.address1{
    width: 50%;
    height: 85%;
}
.address2{
    width: 50%;
    height: 85%;
}
.address1 .p-floatlabel>input, .address1 .p-floatlabel>textarea {
    width: 80%;
    height: 5%;
    margin-top: 1.5%;
    margin-left: 10%;
    border-radius: 10px;

}
.address1 .p-floatlabel>label{
    width: 30%;
   
    margin-top: 1.4%;
    margin-left: 10%;

}
.address2 .p-floatlabel>input{
    width: 80%;
    margin-left: 10%;
    margin-top: 1.5%;

}
.address2 .p-floatlabel>label{
    width: 30%;
    margin-left: 10%;
    margin-top: 1.5%;

}


.buttonContainer{
    width: 100%;
    height: 6%;
    display: flex;
}
.buttonContainer1{
    width: 100%;
    height: 100%;
}
.buttonContainer1 ::ng-deep.p-button{
    width: 20%;
    height: 80%;
    position: relative;
    left: 40%;
    top: 20%;

} 
.buttonContainer2{
    width: 100%;
    height: 100%;
}
.buttonContainer2 ::ng-deep.p-button{
    width: 20%;
    height: 80%;
    position: relative;
    left: 0;
    top: 20%;
    margin-left: 20%;
    border: none;

} 

/* filter */

.filterHeading{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid #007bff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   


}
.filterHeading>div:first-child{
    width: 50%;
    display: flex;
    justify-content: flex-start;
   
}
.filterHeading>div:last-child{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
   
}
.filterHeading h2{
   margin-left: 5px;
}
.filterDetails{
    width: 100%;
    height: 90%;
    padding: 2%;

    
}
.filterDetails form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}


.filterDetails .p-floatlabel>input{
    width: 100%;
}
.filterApplyReset{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
::ng-deep.filterApplyReset .p-button{
    width: 55px;
    height: 25px;
}

@media only screen and (max-width: 480px) {
   

    .formCreate{
  
        width: 90%;
        height: 94%;
        margin: auto;
        border-radius: 10px;
        overflow-y: auto;
        position: absolute;
        top: 20px;
        left: 5%;
        padding: 1%;
        
    }
    .userHeading2>i{
        margin-left: 0% !important;
        font-size: 20px;
        
    }
    .formContainer{
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
        height: auto !important;
        padding-top: 10px;
    
    }
    .formContainer1{
        border: none !important;
        width: 100% !important ;
        height: auto !important;
        
    }
    .formContainer2{
        border: none !important;
        width: 100% !important;
        height: auto !important;
    }
    .containerDetails>div:nth-child(2){
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid #007bff;
    }
    .containerDetails>div:nth-child(3) {
        width: 100%;
        height: auto;
        border: 1px solid #007bff;
        margin-top: 10px;
        border-radius: 10px;
        
    }
    .address{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .address1{
        width: 100%;
        height: auto;
    }
    .address2{
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }
    .mainDetails{
        width: 100vw;
        height: 98%;
        position: relative;
        left: 0;
        top: 0;
        transition: width 0.5s ease-in-out;
        border-radius: 10px;
       border: none !important;
    
    }
    .filterMain{
        width: 70% !important;
        height: 98%;
        margin-left: 1%;
        border-radius: 10px;
        border: 1px solid #007bff;
        
    }
    .filterHeading{
        width: 98%;
        height: 8%;
        border-bottom: 1px solid #007bff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }
    .filterHeading h2{
        font-size: 20px;
    }
    .mainDetails.closed {
        width: 28%; 
      }
  
}

@media only screen and (max-width: 768px) and (min-width :481px){

    .userHeading2>i{
        margin-left: 62%;
        font-size: 20px;
        
    }

}

@media only screen and (max-width: 1024px) and (min-width :481px){

    .filterMain{
        width: 40% !important;
        height: 98%;
        margin-left: 1%;
        border-radius: 10px;
        border: 1px solid #007bff;
        
    }
    .mainDetails.closed {
        width: 58%; 
      }
      .userHeading2>i{
        margin-left: 65%;
        font-size: 20px;
        
    }
}
@media only screen and (max-width: 1440px) and (min-width :1025px){

    .filterMain{
        width: 40% !important;
        height: 98%;
        margin-left: 1%;
        border-radius: 10px;
        border: 1px solid #007bff;
        
    }
    .mainDetails.closed {
        width: 58%; 
      }
}



