/* .main-container{

    width: 100%;
    height: 100vh;
   border:1px solid white;
    background-image: linear-gradient(to bottom right,rgb(59, 224, 242),rgb(235, 53, 217));
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login-Container{
    width:70%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}
.Logo-Container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid white;
    
}


.Login-Details{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    
}
     
.Login-Details img{
    width: 100px;
    height: 100px;

    border-radius: 20%;
} 

.Login-Details>input{
    width: 60%;
    height: 7%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 1px 2px rgb(27, 3, 248);
}
button{
    width: 30%;
    height: 7%;
    border-radius: 10px;
    background-color: white !important;
    box-shadow: 2px 2px 1px 2px rgb(27, 3, 248) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    font-size: 14px;
}


.Logo-Container img{
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 15px 2px  black;
    border: 1px solid greenyellow;
    border-radius: 10%;
    
}

@media only screen and (max-width: 768px) {
    .Logo-Container img{
        width: 200px;
        height: 200px;
        box-shadow: 0px 0px 15px 2px  black;
        border: 1px solid greenyellow;
        border-radius: 10%;
        
    }
    .Login-Details>input{
        width: 80%;
        height: 8%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 2px 2px 1px 2px rgb(27, 3, 248);
    }
    button{
        width: 30%;
        height: 8%;
        border-radius: 10px;
        box-shadow: 2px 2px 1px 2px rgb(27, 3, 248);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 426px) {
    .Logo-Container img{
        width: 180px;
        height: 180px;
        box-shadow: 0px 0px 15px 2px  black;
        border: 1px solid greenyellow;
        border-radius: 10%;
        
    }
    .Login-Container{
        width:80%;
        height: 80%;
        border-radius: 20px;
        box-shadow: 0 0 20px 10px rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .Logo-Container{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid white;
        border-right: none;
        
    }

    .Login-Details{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2%;
        
    }
    
    .Login-Container{
        flex-direction: column;
        
    }
    .Login-Details>input{
        width: 80%;
        height: 10%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 2px 2px 1px 2px rgb(27, 3, 248);
    }
    button{
        width: 30%;
        height: 10%;
        border-radius: 10px;
        box-shadow: 2px 2px 1px 2px rgb(27, 3, 248);
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */


.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(155, 158, 244, 0.4); 
    background-image: url('/app/Images/background.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-blend-mode:color-dodge;
}

.login{
    width: 100%;
    height: 100%;
  
 
}

.logo-Container{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0 ,0 , 0,0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
img{
    width: 80%;
    height: 90%;
  
}
.heading{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}
h2{
    color: rgb(166, 169, 227);
}
.heading p{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
.login_content{
    width: 17%;
    height: 48%;
    position: absolute;
    top: 38.5%;
    left: 56%;
    background-color: rgba(0 ,0 , 0,0.7);
    
}
.details{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
   padding-top: 8%;
 
}
.details div{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.details div i{
    font-size: 24px;
    color: white;
}
input{
    width: 80%;

    height: 32px;
    padding-left: 5px;
    border-radius: 7px;
}

::ng-deep.p-button{
    background-color: rgb(147, 167, 240) !important;
    color: black !important;
}

.social{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    
    
}
.social i{
    color:  rgb(147, 167, 240);
    font-size: 32px;
}

.logo-Container1{
    display: none !important;
}

@media only screen and (max-width: 1024px) {
    img{
        width: 90%;
        height: 90%;
      
    }
    .login_content{
        width: 19%;
        height: 48%;
        position: absolute;
        top: 38.5%;
        left: 56.8%;
        background-color: rgba(0 ,0 , 0,0.7);
        
    }
    .details div{
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 5px;
    
    }
}

@media only screen and (max-width: 768px) {
    img{
        width: 100%;
        height: 90%;
      
    }
    .login_content{
        width: 21%;
        height: 48%;
        position: absolute;
        top: 38.5%;
        left: 57.5%;
        background-color: rgba(0 ,0 , 0,0.7);
        
    }
    h2{
        font-size: 18px;
    }
    .heading p{
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .social i{
        color:  rgb(147, 167, 240);
        font-size: 24px;
    }
    .details div i{
        font-size: 20px;
        color: white;
    }

    input{
        width: 80%;
        height: 28px;
        padding-left: 5px;
        border-radius: 7px;
    }
    .details div{
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 5px;
    
    }
    ::ng-deep.p-button{
        background-color: rgb(147, 167, 240) !important;
        color: black !important;
        width: 80px !important;
        height: 25px !important;
        border: none !important;
    }
    
}


@media only screen and (max-width: 426px) {
    .container{
        width: 100%;
        height: 100vh;
        /* display: grid;
        grid-template-columns: 50% 50%; */
        background-color: rgba(155, 158, 244, 0.4); 
        /* background-image: none; */
        background-image: url('/app/Images/background.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-blend-mode:exclusion;
    }
    .logo-Container{
        display: none !important;
    }
    :host::ng-deep.logo-Container1{
        width: 100%;
        height: 100%;
        /* background-color: rgba(0 ,0 , 0,0.1); */
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .logo-Container1 img{
        width: 80% !important;
        height: 80%;
      
    }

    .login_content{
        width: 72%;
        height: 72%;
        position: absolute;
        top: 16%;
        left: 14%;
        background-color: rgba(0 ,0 , 0,0.5);
        
    }
    input{
        width: 75%;
        height: 24px;
        padding-left: 5px;
        border-radius: 5px;
    }

    .details div i{
        font-size: 16px;
        color: white;
    }
    h2{
        font-size: 16px;
    }
    .heading p{
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .logo-Container1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
    h2{
        font-size: 32px;
    }
    .heading p{
        color: rgb(255, 255, 255);
        font-size: 16px;
    }
    .social i{
        color:  rgb(147, 167, 240);
        font-size: 36px;
    }
    .details div i{
        font-size: 28px;
        color: white;
    }

    input{
        width: 80%;
        height: 32px !important;
        padding-left: 5px;
        border-radius: 7px;
    }
    ::ng-deep.p-button{
        background-color: rgb(147, 167, 240) !important;
        color: black !important;
        width: 100px !important;
        height: 35px !important;
        border: none !important;
    }
}
@media only screen and (max-width: 321px) {
    h2{
        font-size: 28px;
    }
    .heading p{
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    .social i{
        color:  rgb(147, 167, 240);
        font-size: 28px;
    }
}