.container{
    width: 100%;
    height: 100%;   

}




/* Table */

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: center;
            font-size: 1rem;
        }

         .p-paginator {
            padding: 1rem;
        } 

        .p-datatable-thead > tr > th {
            text-align: center;
        }

        .p-datatable-tbody > tr > td {
            cursor: auto;
            

        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    .p-w-100 {
        width: 100%;
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
   
}
.editBtn,.deleteBtn{
    width: 50%;
    height: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);

                    > td {
                        text-align: left;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border: 0 none;

                        .p-column-title {
                            min-width: 30%;
                            display: inline-block;
                            font-weight: bold;
                        }

                        p-progressbar {
                            width: 100%;
                        }

                        &:last-child {
                            border-bottom: 1px solid var(--surface-d);
                        }
                    }
                }
            }
        }
    }
}

.p-tabpanels {
    background: rgba(255, 255, 255,0) !important;

}
:host ::ng-deep .p-tablist-tab-list {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.1) !important; 
    

}

.tablist{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5) !important; 
   

}
.p-tab-active {
    background: var(--p-tabs-tab-active-background);
    border-color: var(--p-tabs-tab-active-border-color);
   color: white;
   font-size: 20px;
   border-bottom: 2px solid rgb(255, 30, 0);
    
}
.noIssue{
    text-align: center;
}

.tableContainer{
    width: 100%;
    height: 100% ;
    background-color: rgba(255, 255, 255, 0.1) !important;
    
}
:host ::ng-deep.p-datatable-header {
    
    background-color: rgba(255, 255, 255, 0.1) !important;
   
}

:host ::ng-deep th{
    background-color: rgba(25, 5, 249,0.5) !important;
    border: none;   
}
th div{
    color: white;
}
.p-selectable-row{
    background-color: rgba(255, 255, 255, 0.1) !important; 
    height: 50px;
    color: white;
    
}

td {
    white-space: nowrap;       
    overflow:hidden;          
    text-overflow: ellipsis;    
    max-width: 150px;    
    border: none;       
  }
.p-selectable-row:hover{
    color:red !important;
    font-size: 24px;
}




.kanbanContainer {
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    top: 0px;
    
  
  
    
}

.kanbanColumn {
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    overflow-y: scroll;

   
}
.kanbanColumn::-webkit-scrollbar {
    display: none;
}

.kanbanColumn h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0) !important;
    

}
.statusName{
    position: sticky;
    top: 0%;
    z-index: 999;

}

.kanbanCard {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(25, 5, 249,0.5) !important;
    
}

.kanbanCard h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.kanbanCard p {
    margin: 5px 0;
}

.p-overlay-badge{
    width: 24px;
    height: 24px;
    background-color: black;
    color: yellow;
    font-size: 22px;
}
/* list */
.search{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.filterCancel{
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255,0);
    text-align :center;
   
}
.filterCancel i{
    font-size: 24px;
    margin-top: 4px;
    color: white;

}


.commentMain{
    border-top: 1px solid rgb(255, 255, 255) ;
    display: flex;
    padding: 2%;
   
}
.commentMain i{
    width: 15%;
    height: 60%;
    border: none;
    position: relative;
    left: 60%;
    margin-top: 1%;
    text-align: center;
    font-size: 12px;
    
   
}

.commentbtn{
    width: 100% !important;
}
  

.commentView{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 60px;
    
}
.commentDetails{
    width: 50%;
    height: 90%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 30px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    left: 25%;
    
}
.commentDetails>p{
  
    width: 100%;
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position:sticky;
    top: 0;
}

div>section{
    width: 80%;
    display: flex;
    margin: auto;
    gap: 10px;
    
}
div>section>p{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    
}
.btns{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;

    
}
.btns ::ng-deep.p-button{
    width: 50%;
    height:80%;
    margin-left: 25%;
    margin-top: 5%;
   
   
}
.description>p{
    white-space: normal;  
  word-wrap: break-word;  
  overflow-wrap: break-word;  
  word-break: break-all;  
  max-width: 100%;  

}
.messageCard{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.popup {
    width: 20%;
    height: 60%;
    position: absolute;
    background: rgb(212, 209, 209);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
  }
  .commentPopUp{
    width: 98%;
    background-color: white;
    position: relative;
    top: 0;
    left: 1%;
    margin-bottom: 5%;
    border-radius: 10px;
    
   /* text wrap*/
    white-space: normal;  
    word-wrap: break-word;  
    overflow-wrap: break-word;  
    word-break: break-all;  
    max-width: 100%;  
  }

  .commentPopUpHeader{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(68, 67, 67);

  }
  .commentPopUpHeader>div:last-child{
    
    width: 80%;
    padding-left: 20px;
    

  }
  .commentPopUpHeader>div:first-child{
    
    width: 20%;

  }
  .commentPopUpHeader>div:first-child>.p-overlay-badge{
    position: absolute;
    top: 9%;
    left: 4.5%;
    font-size: 32px;
    width: 36px;
    height: 36px;
  }
  .commentPopUpHeaderMain{
    padding-bottom: 5px;
    box-shadow: 0  0 3px 2px rgba(17, 19, 16, 0.5);
    border: none;
    border-radius: 10px;
  }
 .commentPopUpHeaderMain>div:last-child{
    width: 94%;
    margin-left: 3%;
 }
  

 /* Edit Form */

 .editFormBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 60px;
    
}

.editForm{
    width: 50%;
    height: 90%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 30px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    left: 25%;
    
}
.editForm>p{
  
    width: 100%;
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position:sticky;
    top: 0;
}
div>section{
    width: 95%;
    display: flex;
    margin: auto;
    gap: 2.5%;
    
}
div>section>p{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    
}

.statusMain{
    width: 95%;
    display: flex;
    margin: auto;
   
}
.statusMain>div{
    width: 100%;
    
}
.statusMain>div .p-select{
    width: 97%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 1.5%;
   
}
.editMessageCard{
    width: 95%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);

}