.footer-content {
    width: 98%;
    height: 7%;
    position: fixed;
    bottom: 1%;
    left: 1%;
    text-align: center;
    padding: 0.02em;
    background-color: rgb(241, 240, 240);
    border-top: 1px solid #c9cbcc;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(47, 47, 48);
  }