
@import "primeicons/primeicons.css";

.container{
   
    width: 100%;
    height: 100%;
    position: relative;
    left:0%;
    top: 0%;
    display: grid;
    grid-template-columns: 20% 80%;
    
}
.logo {
    width: 100%;
    height: 60px;
}

.logo img{
    width: 100px;
    height: 60px;
    
    
}
.innerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
}
.nameTag{
    width: 150px;
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid red;
}
.userName>div:first-child>p{
    font-size: 18px;

}
.userName>div:last-child>p{
    font-size: 14px;
    color: red;

}
::ng-deep.p-button{

 border: none;
}

::ng-deep.p-drawer button {
    margin: 18px;
    width: 70%;
    background-color: red !important;
  }


::ng-deep.p-button {
    background-color: blue !important;
    border: none;
  }


.profile{
    width: 50px;
    height: 100%;
   
}



/* ::ng-deep.p-drawer > div {
    background-color: var(--background-color, black); 
    color: var(--text-color, white);
  } */
  
  ::ng-deep.p-drawer button {
    margin: 18px;
    width: 70%;
    background-color: red;
  }
  ::ng-deep.p-button {
    background-color: blue;
    border: none;
  }

  .items>div{
    width: 100%;
    padding: 5%;
    
  }

  .items>div>span{
    margin-left: 3%;
  }
  
  .font-bold {
    font-size: 20px;
    margin-left: 10px;
  }


  .mobileView{
    display: block !important;
}
.mobileViewOn{
    display: none !important;
}
.items{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 20%;
}
.items>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



  @media only screen and (max-width: 426px) {
    .logo img{
        width: 50px;
        height: 50px;
        
        
    }
    .profile{
        width: 50%;
        height: 100%;
       
    }
    .mobileView{
        display: none !important;
    }
    .mobileViewOn{
        display: block !important;
    }

    ::ng-deep.p-drawer-left {
        top: 0;
        left: 0;
        width: 16rem !important;
        height: 100%;
    }
 
    
  }
  @media only screen and (max-width: 376px) {

    ::ng-deep.p-drawer-left {
        top: 0;
        left: 0;
        width: 14rem !important;
        height: 100%;
    }
  }